@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: black;
}

/* header section start here */

.container {
    /* width: 1099px; */
    max-width: 100%;
    height: 660px;
    padding: 55px 125px 35px 125px;
    background: linear-gradient(rgb(17, 17, 17), rgb(119, 119, 119, 90), rgb(17, 17, 17));
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 55px;
    /* width: 1040px; */
    max-width: 100%;
    align-items: center;
}

.logo {
    color: rgb(230, 83, 60);
    font-size: 2.1rem;
    font-weight: 800;
}

.nav-container img {
    visibility: hidden;
}

.nav-link {
    list-style: none;
}

.home-link {
    background-color: rgb(230, 83, 60);
    padding: 8px 19px;
    border-radius: 46px;
}

.nav-link li a {
    margin-left: 47px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
}

.nav-title {
    width: 70%;
    color: white;
    font-size: 4.7rem;
    font-weight: 900;
    line-height: 120%;
    margin-top: 95px;
}

.curve-font {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 5rem;
}

.nav-disc {
    width: 85%;
    color: white;
    Font-weight: 400;
    font-size: 1rem;
    Letter-spacing: 0.5px;
    line-height: 24px;
    margin-top: 28px;
    opacity: 0.5;
}

.nav-btn-white {
    padding: 16px 40px;
    margin-top: 28px;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    margin-right: 14px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
}

.nav-btn-black {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px;
    color: white;
    background: rgb(50, 50, 50);
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-body-container {
    display: flex;
    justify-content: space-between;
}

.nav-picture {
    margin-top: 60px;
}

img {
    width: 350px;
    height: 580px;
}

.nav-card-1 {
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    margin-left: -90px;
    margin-top: -180px;
}

.ball {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin: 28px 12px 28px 23px;
}

.card-text {
    margin: 20px 23px 20px 0px;
}

.card-text h4 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.card-text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    opacity: 0.5;
}

.nav-card-2 {
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -370px;
    margin-left: 230px;
}

.card-2-text h4 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}

.card-2-text p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    opacity: 0.5;
}

/* header style end */

/* havit start here */

.havit-container {
    width: 82%;
    /* height: 452px; */
    color: white;
    margin: 100px auto 0 auto;
}

.havit-info {
    text-align: center;
}

.havit-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.havit-desc {
    margin: 0 auto;
    width: 60%;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
    margin-top: 14px;
}

.havit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 58px;
}

.card {
    width: 231px;
    height: 274px;
    text-align: center;
}

.card-image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.card-info h4 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
    margin-top: 30px;
}

.card-info p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    opacity: 0.5;
    margin-top: 6px;
}

/* havit end here */

/* run section start here */

.run-container {
    width: 82%;
    /* height: 371px; */
    border-radius: 18px;
    background: rgb(34, 34, 34);
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0 auto;
}

.run-details {
    margin: 40px 0px 40px 54px;
}

.run-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 57px;
    margin-bottom: 14px;
}

.run-desc {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
    margin-bottom: 34px;
}

.run-btn button {
    padding: 16px 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    margin-right: 14px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
}

.run-image {
    width: 355px;
    height: 312px;
    margin: 30px;
}

.run-image img {
    width: 355px;
    height: 312px;
    border-radius: 18px;
}

/* run section end here */

/* bmi section start here */

.bmi-info {
    color: white;
    width: 45%;
    height: 120px;
    margin: 75px auto 0 auto;
}

.bmi-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.bmi-desc {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
    margin-top: 14px;
}

.bmi-bg {
    width: 100%;
    color: white;
    background: rgb(34, 34, 34);
    margin-top: 85px;
}

.bmi-container {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.bmi-chart-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-top: 50px;
}

.bmi-table, tr, th, td {
    margin-top: 50px;
    border: 1px solid rgb(59, 59, 59);
    border-collapse: collapse;
}

.bmi-table th {
    padding: 13px 70px 13px 18px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
}

.bmi-table td {
    padding: 13px 70px 13px 18px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.5;
}

.bmi-calculate {
    width: 50%;
}

.bmi-cal-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-top: 50px;
}

.bmi-cal-desc {
    margin-top: 14px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
}

.calculate-text {
    margin-top: 35px;
}

.calculate-text input {
    padding: 12px 40px 12px 20px;
    background: rgb(50, 50, 50);
    box-shadow: 2px 1px 3px rgb(59, 59, 59);
    border: none;
    margin-right: 12px;
    letter-spacing: 1.3px;
}

.calculate-text-2 {
    margin-top: 12px;
}

.calculate-text-2 input {
    padding: 12px 28px 12px 20px;
    background: rgb(50, 50, 50);
    box-shadow: 2px rgb(55, 55, 55);
    border: none;
    margin-right: 12px;
    font-weight: 600;
}

.calculate-text-3 {
    margin-top: 14px;
}

.calculate-text-3 input {
    padding: 18px 280px 18px 20px;
    background: rgb(50, 50, 50);
    box-shadow: 2px rgb(55, 55, 55);
    border: none;
    margin-right: 12px;
    font-weight: 600;
}

.bmi-btn {
    padding: 16px 40px;
    margin-top: 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    margin-right: 14px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    margin-bottom: 40px;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

/* bmi section end here */

/* team section start here */

.team-container {
    width: 81%;
    color: white;
    margin: 100px auto 0 auto;
}

.team-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
    text-align: center;
}

.team-info {
    width: 60%;
    margin: 0 auto;
}

.team-desc {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
    text-align: center;
}

.team-card-container {
    margin-top: 60px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 20px;
    margin-left: 25px;
}

.team-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-card-details {
    position: relative;
}

.team-card-details img {
    width: 325px;
    height: 270px;
    display: block;
    border-radius: 18px;
}

.card-info-text {
    position: absolute;
    bottom: 16px;
    left: 20px;
    text-align: left;
}

.card-info-text h3 {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 3px;
}

.card-info-text p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.5;
}

/* team section end here */

/* footer start here */

.footer-bg {
    max-width: 100%;
    height: 490px;
    background: rgb(34, 34, 34);
    margin-top: 90px;
    color: white;

}

.footer-info {
    width: 82%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-main-title {
    font-size: 4.38rem;
    font-weight: 800;
    line-height: 120%;
    color: rgb(230, 83, 60);
    margin: 65px 0 20px 0;
}

.footer-main-desc {
    width: 60%;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
}

.footer-right {
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
}

.footer-link-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
    margin-top: 65px;
}

.footer-link li {
    list-style: none;
    margin-bottom: 20px;
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
}

.footer-line {
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 82%;
    margin: 130px auto 0 auto;

}

.footer-reserved {
    color: rgb(255, 255, 255);
    margin: 35px auto 35px auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: 0.5;
}

/* footer end here */

@media screen and (max-width: 576px) {

    /* header */
    .container {
        height: 1000px;
        padding: 20px;
    }

    .logo {
        margin-top: 50px;
    }

    .nav-container img {
        width: 25px;
        height: 25px;
        margin-top: 50px;
        visibility: visible;
    }

    .nav-disc {
        margin-top: 15px;
        width: 80%;
    }

    .nav-title {
        font-size: 2.1rem;
        margin-top: 40px;
        width: 60%;
    }

    .nav-body-container {
        flex-direction: column;
    }

    .nav-btn {
        display: flex;
        flex-direction: row;
    }

    .nav-btn-white {
        font-size: 0.8rem;
        padding: 16px 45px;
    }

    .nav-btn-black {
        font-size: 0.8rem;
        margin-top: 28px;
        padding: 16px 45px;
    }

    .nav-picture {
        margin-top: 40px;
    }

    .nav-picture img {
        width: 350px;
        height: 570px;
        margin-left: 30px;
    }

    .nav-card-1 {
        margin-left: 10px;
        margin-top: -330px;
        width: 155px;
        height: 70px;
    }

    .nav-card-1 h4 {
        font-size: 1.1rem;
        line-height: 18px;
        letter-spacing: 0.23px;
    }

    .nav-card-1 p {
        font-size: 0.7rem;
        line-height: 18px;
        letter-spacing: 0.3px;
    }

    .ball {
        width: 30px;
        height: 30px;
        margin: 28px 12px 28px 15px;
    }

    .nav-card-2 {
        margin-top: -250px;
        margin-left: 220px;
        width: 145px;
        height: 75px;
    }

    .nav-card-2 h4 {
        font-size: 1.9rem;
        line-height: 30px;
        letter-spacing: 0.7px;
    }

    .nav-card-2 p {
        font-size: 0.6rem;
        line-height: 15px;
        letter-spacing: 0.7px;

    }

    /* havit section */
    .havit-container {
        margin-top: 65px;
    }

    .havit-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .havit-title {
        font-size: 2.5rem;
    }

    .card {
        margin: 0 auto;
    }

    /* run section style */
    .run-container {
        flex-direction: column;
        padding: 20px;
        margin-top: 65px;
    }

    .run-details {
        margin: 0px;
    }

    .run-title,
    .team-title {
        font-size: 2rem;
        line-height: 40px;
    }

    .run-desc {
        line-height: 25px;
        text-align: left;
    }

    .run-btn button {
        width: 100%;
        margin-bottom: 30px;
    }

    .run-image {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .run-image img {
        width: 100%;
        height: 100%;
    }

    .hidden {
        visibility: hidden;
        display: none;
    }

    /* bmi section start */

    .bmi-info {
        width: 90%;
        margin-left: 20px;
    }

    .bmi-title, {
        font-size: 2rem;
    }

    .bmi-container{
        flex-direction: column;
    }

    .bmi-chart-title, 
    .bmi-cal-title{
        font-size: 1rem;
    }

    .bmi-table th{
        font-size: 0.8rem;
    }

    .bmi-desc,
    .bmi-cal-desc {
        width: 80%;
    }

    .bmi-calculate{
        width: 100%;
    }

    .calculate-text input {
        width: 25%;
    }
    
    .calculate-text-2 input{
        width: 28.5%;
    }

    .calculate-text-3 input{
        width: 77.5%;
        padding: 20px;
    }

    /* footer section start */
    .footer-info,
    .footer-right {
        flex-direction: column;
        height: 900px;
        align-items: flex-start;
    }

    .footer-main-desc,
    .havit-desc {
        width: 100%;
    }

    .footer-bg {
        background: rgb(34, 34, 34);
        height: 1000px;
    }

    .footer-right,
    .footer-main-title,
    .footer-link-title {
        gap: 20px;
        margin-top: 20px;
    }

    .footer-line {
        margin-top: -10px;
    }

    .footer-reserved {
        margin-bottom: 55px;
    }

    /* team section start */
    .team-card {
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }

    .team-info {
        width: 90%;
    }

    .team-card-details img {
        width: 100%;
        margin-left: 9px;
    }

    .team-container {
        width: 90%;
    }

    .team-card-container {
        /* display: none; */
        padding: 20px;
        margin: 60px auto 0 auto;
    }
}